.aboutH2 {
	margin-bottom: 2rem;
	font-family: var(--font-sec);
	font-size: 3rem;
	color: var(--blue);
}

.border {
	padding: 1px;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		355deg,
		rgba(20, 27, 39, 1) 0%,
		rgba(64, 154, 191, 1) 100%
	);
	border-radius: 3px;
	box-shadow: 0px 2px 5px #141b27;
}

.container {
	padding: 0.5rem;
	border-radius: 3px;
	text-align: center;
	background-color: var(--dark-accent);
}

.content {
	text-align: left;
}

.portraitImg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.textContent {
	display: grid;
}

.textContent p {
	margin-bottom: 1rem;
}

.leftColumn {
	width: 100%;
}

.rightColumn {
	width: 100%;
}

.textContent span {
	font-weight: bold;
}

.iconSection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.category {
	flex-direction: column;
}

.icons {
	display: flex;
	gap: 3px;
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 1px;
}

.jumpSpacer {
	height: 1rem;
}

/*
################ DESKTOP-VIEW ###############
*/

@media screen and (min-width: 1200px) {
	.jumpSpacer {
		height: 7rem;
	}

	.portraitImg {
		justify-content: flex-start;
		align-items: center;
	}

	.textContent {
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
	}

	.iconSection {
		margin-top: 5rem;
	}

	.leftColumn {
		padding: 1rem;
		width: 75%;
		justify-self: center;
	}

	.rightColumn {
		padding: 1rem;
		width: 75%;
		justify-self: center;
	}
}
