.container {
	width: 100%;
	height: 70px;
	background-color: var(--dark-accent);
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	font-family: 'DotGothic';
	box-shadow: 0px 2px 5px #141b27;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	max-width: 1250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 1.5rem;
	display: flex;
	font-family: var(--font-sec);
}

.letterA {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #1572b6;
	width: 40px;
	height: 40px;
	animation: colorChangerA 300s infinite;
}

.letterE {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #440098;
	width: 40px;
	height: 40px;
	animation: colorChangerE 300s reverse infinite;
}

.navUl {
	max-width: 1800px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.navLi {
	padding: 0.5rem 1rem 0.5rem 1rem;
	font-size: 1rem;
}

.navLi:hover {
	color: var(--blue);
}

@keyframes colorChangerA {
	7% {
		background-color: #1572b6;
	}
	14% {
		background-color: #fcc624;
	}
	21% {
		background-color: #e34f26;
	}
	28% {
		background-color: #339933;
	}
	35% {
		background-color: #c51a4a;
	}
	42% {
		background-color: #430098;
	}
	49% {
		background-color: #00c7b7;
	}
	56% {
		background-color: #000000;
	}
	64% {
		background-color: #61dafb;
	}
	70% {
		background-color: #f7df1e;
	}
	77% {
		background-color: #48b9c7;
	}
	84% {
		background-color: #f05032;
	}
	91% {
		background-color: #2496ed;
	}
	100% {
		background-color: #47a248;
	}
}

@keyframes colorChangerE {
	7% {
		background-color: #47a248;
	}
	14% {
		background-color: #fcc624;
	}
	21% {
		background-color: #e34f26;
	}
	28% {
		background-color: #339933;
	}
	35% {
		background-color: #c51a4a;
	}
	42% {
		background-color: #1572b6;
	}
	49% {
		background-color: #00c7b7;
	}
	56% {
		background-color: #000000;
	}
	64% {
		background-color: #61dafb;
	}
	70% {
		background-color: #f7df1e;
	}
	77% {
		background-color: #48b9c7;
	}
	84% {
		background-color: #f05032;
	}
	91% {
		background-color: #2496ed;
	}
	100% {
		background-color: #430098;
	}
}

@media (min-width: 1200px) {
	.navLi {
		font-size: 1.5rem;
	}
}
