.container {
	width: 100%;
	height: 70px;
	background-color: var(--dark-accent);
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
}

.navUl {
	margin: 0 auto;
	width: 65%;
	max-width: 1800px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.navLi {
	padding: 0.5rem;
	font-size: 1.5rem;
}
