.projectsH2 {
	margin-top: 5rem;
	margin-bottom: 2rem;
	font-family: var(--font-sec);
	font-size: 2rem;
	color: var(--blue);
}

.description {
	margin-bottom: 3rem;
}

.border {
	padding: 1px;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		355deg,
		rgba(20, 27, 39, 1) 0%,
		rgba(64, 154, 191, 1) 100%
	);
	border-radius: 3px;
	box-shadow: 0px 2px 5px #141b27;
	margin-bottom: 3rem;
}

.container {
	padding: 0.5rem;
	border-radius: 3px;
	text-align: center;
	background-color: var(--dark-accent);
}

.content {
	text-align: left;
	margin-bottom: 3rem;
}

.content h3 {
	margin: 0rem 0 1rem 0;
	font-family: var(--font-sec);
	color: var(--blue);
}

.content h4 {
	margin: 1.5rem 0 0.5rem 0;
	text-decoration: underline;
	color: var(--blue);
}

.link {
	display: inline-block;
	border: 1px solid var(--blue);
	border-radius: 3px;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.aviateImg {
	width: 100%;
	height: 200px;
	background-image: url(/images/aviate.png);
	background-size: cover;
}

.blogImg {
	width: 100%;
	height: 200px;
	background-image: url(/images/blog.png);
	background-position: center;
	background-size: cover;
}

/*
################ DESKTOP-VIEW ###############
*/

@media screen and (min-width: 1200px) {
	.projectsH2 {
		font-size: 3rem;
	}
	.border {
		margin-top: 5rem;
	}

	.content h3 {
		margin: 2rem 0 1rem 0;
	}

	.content {
		margin: 0 auto;
		width: 75%;
		padding: 1rem 1rem 5rem 1rem;
		justify-self: center;
	}

	.aviateImg {
		width: 100%;
		height: 400px;
		background-image: url(/images/aviate.png);
		background-size: cover;
	}

	.blogImg {
		width: 100%;
		height: 400px;
		background-image: url(/images/blog.png);
		background-position: center;
		background-size: cover;
	}
}
